@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root{
    --main: #171717;
    --grey: #444444;
    --white: #e5e5e5;
    --red: #da0037;
}
*{
    background: var(--main);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* *------------MENU------------ */
.nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--main);
    position: fixed;
    top: 0;
    z-index: 50;
}
.nombre_logo{
    font-size: 1.2rem;
    display: none;
}
.nav-logo{
    text-transform: uppercase;
}
.nav-logo__span{
    color: var(--red);
    font-family: 'Kaushan Script', cursive;
}
.nav-logo, .nav-logo__span{
    font-size: 1.3rem;
}
.menu-web{
    display: none;
}
.menu-movil{
    background: #444444ee;
    width: 60%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 110%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}
.show{
    left: 40%;
    border-radius: 60px 0 0 60px;
}
.menu-movil__item{
    text-decoration: none;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 2px;
}
.menu-movil__item:first-child{
    color: var(--red);
}

/* *---------------vistas----------------- */
.view{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.view--fit{
    height: 100%;
    padding-top: 60px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    margin-top: 60px;
}
.info__img{
    margin: auto;
    margin-top: 10px;
    width: 180px;
    border-radius: 50%;
}
.info__about{
    text-align: center;
}
.info__name{
    font-family: 'Ephesis', cursive;
    font-size: 2rem;
    margin: 10px 0;
}
.info__carge{
    color: var(--red);
    font-size: 1.2rem;
}
.titulo{
    font-size: 1.5rem;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex__item{
    width: 140px;
    height: 100%;
    margin: 10px;
    padding: 5px 7px;
    border-radius: 10px;
    background: var(--white);
    position: relative;
}
.flex__img{
    width: 140px;
    background: transparent;
    filter: drop-shadow(0px 5px 1px #171717);
    position: absolute;
    animation: brinco 3s forwards infinite;
}
.flex__item:nth-child(2n) > .flex__img{
    animation-delay: 1s;
}
.flex__item:nth-child(4) > .flex__img,
.flex__item:nth-child(6) > .flex__img{
    top: 35px;
}
.flex__content{
    color: var(--grey);
    background: transparent;
    margin-top: 160px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
}
@keyframes brinco {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(-15px);
    }
    60%{
        transform: translateY(0px);
    }
    80%{
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}
.proyect-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.proyect__card{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px #fff;
    border-radius: 5px;
}
.card__flip{
    width: 100%;
    max-height: 200px;
    background: var(--white);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.card__info{
    color: var(--grey);
    position: absolute;
    top: 0px;
    background: var(--white);
    opacity: 0;
    transition: .5s;
}
.card__title,
.card__text{
    background: var(--white);
    color: var(--grey);
}
.card__title{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.card__img{
    width: 100%;
}
.card__btns{
    width: 100%;
    margin-top: 10px;
    background: transparent;
    display: flex;
    justify-content: space-around;
}
.card__icon{
    width: 40px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: var(--white);
    box-shadow:  4px 4px 8px #c3c3c3,
             -4px -4px 8px #ffffff;
}
.card__btn--back{
    display: none;
}
.view--relative{
    position: relative;
}
.formulario{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.form__input{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: var(--white);
    color: var(--grey);
}
.form__input:focus{
    transition: .5s;
    outline: none;
    color: var(--grey);
    background: #fff;
}
textarea{
    margin: 0 auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 250px;
}
.form__submit{
    border: none;
    outline: none;
    width: 200px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 2px;
}
.model{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
}
.model__caja{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background: #fff;
    color: var(--main);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
}
.model__caja-close{
    width: 50%;
    background: var(--red);
    border-radius: 15px;
    padding: 10px 0;
    border: none;
}
.copy{
    margin: 10px;
    text-align: center;
}
a{
    text-decoration: none;
}
.bad{
    border: 2px solid #DA1212;
    position: relative;
    animation: error;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}
.good{
    border: 2px solid #06FF00;
}
.btnhabilitado{
    background: var(--red);
}
.btndeshabilitado{
    background: #D1D1D1;
    color: #fff;
}
@keyframes error {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

@media screen and (min-width: 480px) {
    .nombre_logo{
        display: inline;
    }
    .info__img{
        width: 200px;
        margin-bottom: 30px;
    }
    .info__name{
        font-size: 2rem;
    }
    .info__carge{
        font-size: 1.5rem;
    }
    .flex-container{
        width: 70%;
    }
    .flex__item{
        width: 160px;
        margin: 15px;
    }
    .flex__img{
        width: 160px;
    }
    .flex__content{
        margin-top: 180px;
    }
    .form__input{
        width: 400px;
    }
    textarea{
        margin: 0 auto;
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 250px;
    }
}

@media screen and (min-width: 768px) {
    .menu-movil, #icon{
        display: none;
    }
    .menu-web{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-web__item{
        padding: 10px 15px;
        border-radius: 5px;
    }
    .menu-web__item:hover{
        background: var(--red);
        transition: .5s;
    }
    .card__flip:hover > .card__img{
        transition: .5s ease-in-out;
        transform: scale(1.3);
    }
    .form__input:hover{
        background: #fff;
    }
    .form__submit:hover{
        background: #f7003e;
    }
}